<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page is created br Karan Vyas. It uses data from Mapbox.com and WheatherStack.net!</p>
        <img class="portrait" src="/image/DSC_0133.JPG">
    </div>
    
    {{>footer}}
</body>

</html>